.sidebar {
    position: fixed;
    background: #fff;
    font-size: 14px;
    width: 200px;
    top: 70px;
    height: calc(100% - 70px);
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    transition: all .6s;
    z-index: 20;
}
@media (max-width: 1200px) {
    .sidebar {
        transform: translateX(-200px);
    }
}
@media (min-width: 1200px) {
    .sidebar {
        transform: translateX(0px);
    }
}
.sidebar.toggled {
    transform: translateX(0px);
}
.sidebar a, .sidebar a:visited {
    color: #303030;
}
.main-profile-menu {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.profile-info {
    background: rgba(167,34,34,.37);
    padding: 7px 14px;
    color: #fff;
    margin-top: 2px;
    position: relative;
}
.profile-triangle {
    float: right;
}
.main-menu {
    padding-top: 8px;
    padding-bottom: 40px;
}
.sidebar-list {
    list-style: none;
}
.sidebar-list__link {
    padding: 8px 20px 8px 20px;
    display: block;
    color: #4c4c4c;
    font-weight: 500;
    position: relative;
}
.sidebar-list__link:hover {
    background: #eee;
}
.sidebar-list__link--icon {
    margin-right: 10px;
}
.sub-menu__link {
    color: #7f7f7f;
    padding: 8px 20px 8px 50px;
    font-weight: 500;
    display: block;
}
.sub-menu__link:hover {
    color: #000;
}
@media (min-width: 1200px) {
        /*
  body.sw-toggled .sidebar {
    opacity: 1;
  }
  */
}
@media screen and (max-width: 1200px) {
        /*
  body .sidebar {
    opacity: 0;
  }
  */
}
