#content {
    margin-top: 70px;
}

.container {
    background: #efefef;
    padding: 40px;
}

.card {
    background: #fff;
}

@media (min-width: 1200px) {
    body.sw-toggled #content {
        padding-left: 200px;
    }
}

    
