#content {
    margin-top: 70px;
}

.container {
    background: #efefef;
    padding: 40px;
}

.card {
    background: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}
.card button {
    color: #efefef;
}
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-container .card {
    width: 46%;
}
.card-container input, .card-container textarea {
    width: 100%;
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom:1px solid #e0e0e0;
    margin-bottom: 20px;
}
.card__header {
    margin-bottom: 18px;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 18px;
}
.glance-list {
    padding-left: 18px;
    padding-right: 18px;
}
.glance-list li {
    margin-top: 8px;
    margin-bottom: 8px;
}
.glance-list a {
    padding-left: 12px;
}
.quick-draft {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}
.recent-activity {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}
.dataTables_wrapper {
    margin-top: 30px;
}
.actions {
    display: none;
}
.block-header {
    margin-bottom: 25px;
    color: #5e5e5e;
}
.table-responsive {
    padding: 18px;
}

@media (min-width: 1200px) {
    body.sw-toggled #content {
        padding-left: 200px;
    }
}

    
