#content {
    margin-top: 70px;
}

.container {
    background: #efefef;
    padding: 40px;
}

.card {
    background: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}
.card__button {
    color: #efefef;
}
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-container .card-half {
    width: 46%;
    background: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}
.card-container .card-main {
    width: 70%;
}
.card-container .card-sub {
    width: 25%;
}
.card-container input, .card-container textarea {
    width: 100%;
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom:1px solid #e0e0e0;
    margin-bottom: 20px;
    height: 35px;
}
.card__header {
    margin-bottom: 18px;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 18px;
}
.card__body {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}
.card__body label.block-label {
    display: block;
}
.card__body label.info-label {
    display: inline;
}
.card__body label.index-label {
    color: #2e2e2e;
}
.card__body input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 8px 4px 4px 4px;
}
.card__body textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 4px;
}
.glance-list {
    padding-left: 18px;
    padding-right: 18px;
}
.glance-list li {
    margin-top: 8px;
    margin-bottom: 8px;
}
.glance-list a {
    padding-left: 12px;
}
.quick-draft {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}
.recent-activity {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}
.dataTables_wrapper {
    margin-top: 30px;
}
.actions {
    display: none;
}
.block-header {
    margin-bottom: 25px;
    color: #5e5e5e;
}
.table-responsive {
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
}
.table-responsive table {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
}
.table-responsive table thead {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.table-responsive th, .table-responsive td {
    padding: 8px;
    text-align: center;
}

#is_published {
    opacity: 0;
    width: 0;
    display: inline-block;
}
#is_published:checked + label {
    background: #b66d0b;
}
#is_published:checked + label:after {
    left: 64px;
}
#reverse_direction {
    opacity: 0;
    width: 0;
    display: inline-block;
}
#reverse_direction:checked + label {
    background: #b66d0b;
}
#reverse_direction:checked + label:after {
    left: 64px;
}
.toggle-label {
    background: #bbb;
    height: 10px;
    width: 85px;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
}
.toggle-label:after {
    background: #fff;
    top: -7px;
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    border-radius: 100%;
    left: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    box-sizing: border-box;
}
.backend-paginate {
    position: relative;
    margin: 12px 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
li.previous {
    position: absolute;
    left: 0;
    list-style: none;
}
li.next {
    position: absolute;
    right: 0;
    list-style: none;
}
.selectpicker {
    width: 100%;
}

@media (min-width: 1200px) {
    body.sw-toggled #content {
        padding-left: 200px;
    }
}
@media (max-width: 640px) {
.table-responsive {
    overflow-x: scroll;
}
}

    
