.images-toolbar {
  position: relative;
  opacity: .6;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 0 10px;
}
.images-toolbar--button {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
  color: #181818;
  border-radius: 0;
  border-color: #000;
}
.images-breadcrumb {
    margin: 8px 15px;
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 5px;
    background: #fff;

}
.images-breadcrumb__parent {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    padding: 0 10px 0 32px;
    position: relative;
    background: #e91e63;
    color: #ffffff;
}
.images-breadcrumb__parent a {
    color: #efefef;
}
.images-breadcrumb__parent::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    border-radius: 0 5px 0 50px;
    background: #e91e63;
    box-shadow: 2px -2px 0 2px #e91e63;
}
.images-breadcrumb__active {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    padding: 0 20px 0 40px;
    position: relative;
    background: #ffffff;
    color: #e91e63;
    border-radius: 0 5px 5px 0;
}
.images-breadcrumb__parent:first_child {
    padding-left 46px
    border-radius 5px 0 0 5px
}
.images-breadcrumb__parent:first_child::before {
    left 14px
}


.images-content__list {
  font-size: 14px;
  margin-bottom: 12px;
}
.images-content__item {
  list-style: none;
  margin: 6px 25px;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.images-content__file {
  color: #000;
}
.images-content__item.selected {
  background: #44f;
}
.images-content__item.selected .images-content__file {
  color: #fff;
}
