body {
  margin: 0;
  -webkit-print-color-adjust: exact;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden; }

h1, h2, h3, h4, ol, p, ul {
  margin: 0;
  padding: 0; }

h2 {
  font-size: 1.3em; }

.post-content h3 {
  border-bottom: 2px solid #9999ff;
  margin-bottom: 10px; }

.post-content h4 {
  font-size: 1.4rem; }

a {
  background: 0 0; }

:focus, a:active, a:focus, a:hover {
  outline: 0; }

header {
  display: block; }

button, input, select, textarea {
  margin: 0; }

button, input[type=button], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

#header-top {
  background: #f5f5f5;
  padding: 8px 0; }

#header-top--search {
  float: left;
  margin-bottom: 0; }

#header-top--search #submit-button {
  float: left;
  border: 0;
  background: transparent;
  width: 26px;
  height: 21px;
  margin-right: 4px; }

#header-top--search .fa {
  float: left;
  color: #757575;
  font-size: 14px;
  line-height: 13px;
  margin-top: 3px; }

#header-top--search input[type=text] {
  width: 160px;
  border: 0;
  float: left;
  height: 22px;
  font-size: 12px;
  color: #757575;
  line-height: 16px;
  background: transparent; }

.header-top--social {
  float: right;
  margin-top: 1px; }

.header-top--social li {
  margin-right: 30px;
  float: left; }

.header-top--social li a {
  font-size: 12px;
  color: #757575;
  transition: color .35s ease-in-out;
  -webkit-transition: color .35s ease-in-out; }

.header-top--social li a:hover {
  color: #111; }

.header-middle--container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }

.header-middle--container h1 {
  font-family: "Unthrift First Personal" !important; }

.header-middle--container h3 {
  letter-spacing: 2px;
  margin: 3px auto 0px;
  max-width: 240px;
  height: auto;
  display: block;
  font-size: 16px; }

.header-middle--container #site-logo {
  color: #757575;
  transition: color .35s ease-in-out;
  -webkit-transition: color .35s ease-in-out; }

.header-middle--container #site-logo:hover {
  text-decoration: none;
  color: #111; }

.header-middle--container #site-logo, .header-middle--container #site-logo img {
  max-width: 240px;
  height: auto;
  margin: 0 auto;
  display: block; }

#header-navigation .header-navigation--nav {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea; }

.header-navigation--menu, .header-navigation--menu ul {
  margin: 0;
  list-style-type: none; }

.header-navigation--menu {
  clear: both;
  padding-left: 0;
  text-align: center; }

.header-navigation--menu li {
  white-space: nowrap;
  display: inline-block;
  position: relative; }

.header-navigation--menu_item a {
  font-size: 12px;
  color: #757575;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0 15px;
  padding: 20px 0;
  text-decoration: none;
  display: inline-block;
  -moz-transition: color .35s ease-in-out;
  -webkit-transition: color .35s ease-in-out;
  transition: color .35s ease-in-out; }

.header-navigation--menu_item a:hover {
  color: #111; }

.clearfix:after {
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both; }

.container {
  margin: 0 auto;
  padding: 0 15px; }

.site-body {
  margin: 20px 0; }

.post-title a {
  color: #757575;
  transition: color .35s ease-in-out;
  -webkit-transition: color .35s ease-in-out; }

.post-title a:hover {
  color: #111;
  text-decoration: none; }

.post-meta a {
  color: #858585;
  transition: color .35s ease-in-out;
  -webkit-transition: color .35s ease-in-out; }

.post-meta a:hover {
  color: #111;
  text-decoration: none; }

.read-more {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  background: #eaeaea;
  border: 1px solid #eaeaea;
  padding: 10px 25px;
  cursor: pointer;
  display: inline-block;
  color: #757575;
  text-decoration: none;
  transition: background-color .25s ease-in-out, color .25s ease-in-out, border-color,.25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-color,.25s ease-in-out; }

.read-more:hover {
  color: #f5f5f5;
  background-color: #757575;
  border-color: #757575; }

.post-detail {
  margin-top: 20px; }

.post-page-title {
  font-size: 1.3em; }

.post-content {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 20px; }

.post-content p {
  margin-bottom: 20px; }

.post-content ol {
  padding-left: 1em; }

#author-content {
  background: #f5f5f5;
  padding: 12px; }

#author-content h4 {
  line-height: 1.6;
  font-size: 1.4rem;
  font-weight: bold; }

.post-nav ul {
  list-style-type: none; }

.post-nav .previous {
  float: left; }

.post-nav .next {
  float: right; }

.dts {
  margin: 20px 0; }

#top-link-block {
  transition: bottom .8s linear; }

#top-link-block.affix {
  position: fixed;
  bottom: 18px;
  right: 10px; }

#top-link-block #scroll-to-top {
  background-color: #474747 !important;
  border-radius: 2em;
  font-size: 14px !important;
  color: #fff;
  padding: .5em 1em;
  text-shadow: 1px 1px #888; }

#top-link-block.affix-top {
  position: absolute;
  bottom: -132px;
  right: 10px; }

.copyright {
  padding: 4px 0px;
  text-align: center;
}
@media (min-width: 992px) {
  .container {
    width: 1110px; } }

@media (min-width: 991px) {
  #site-logo, #site-logo img {
    max-width: 150px; }
  .header-middle--container {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 600px) {
  h2 {
    font-size: 1.8em; }
  .post-page-title {
    font-size: 28px; } }
