html, body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #efefef;
}
h2 {
    margin: 0;
    font-size: 18px;
}
small {
    display: block;
    font-size: 12px;
    color: #aeaeae;
}
button {
    background: #ff72a3;
    border: 1px solid #ccc;
    padding: 8px 18px;
    cursor: pointer;
    color: #ffffff;
}
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #0072C6;
}
a:visited {
    color: #0072C6;
}
hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border-top: 1px solid #eee;
}
.clearfix:before {
    content: " ";
    display: table;
}
.alert {
    color: #f00;
    font-size: 14px;
}
.alert ul {
    font-size: 12px;
}
.success {
    color: #0c0;
}

.breadcrumb {
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #fff;
}
.breadcrumb__parent {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    padding: 0 10px 0 32px;
    position: relative;
    background: #e91e63;
    color: #ffffff;
}
.breadcrumb__parent a {
    color: #efefef;
}
.breadcrumb__parent::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    border-radius: 0 5px 0 50px;
    background: #e91e63;
    box-shadow: 2px -2px 0 2px #e91e63;
}
.breadcrumb__active {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    padding: 0 20px 0 40px;
    position: relative;
    background: #ffffff;
    color: #e91e63;
    border-radius: 0 5px 5px 0;
}
.breadcrumb__parent:first_child {
    padding-left 46px
    border-radius 5px 0 0 5px
}
.breadcrumb__parent:first_child::before {
    left 14px
}

.badge {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    color: #fff;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #777;
    float: right;
}

.upload-submodal {
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  width: 400px;
  height: 200px;
}
.upload-submodal.visible {
    display: block;
    background: #fff;
    z-index: 21;
    top: 80px;
}
/*
.visible {
  display: block;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
*/
.modal-form {
  margin: 40px;
}
.post-media-modal {
  position: absolute;
  display: none;
}
.post-media-modal.visible {
  width: 90%;
  display: block;
  height: 400px;
  background: #efefef;
  border: 1px solid #ccc;
  z-index: 24;
  left: 0;
  right: 0;
  top: 110px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
#postCreate {
  position: relative;
}
